[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
librosa = "*"
numpy = "*"
boto3 = "*"
matplotlib = "*"
samplerate = "*"
comma = {extras = ["autodetect", "net"], version = "*"}

[requires]
python_version = "3.9"
